[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
elasticsearch = "*"
python-dateutil = "*"
django-extensions = "*"
httpretty = "*"
elasticmock = "*"
django-override-settings = "*"

[dev-packages]

[requires]
python_version = "3.7"
